* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #F9F9F9;
}
nav {
  height: 60px;
  background-color: #222222;
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-right: 20px;
  list-style: none;
  justify-content: center;
}
nav ul li a {
  color: white;
  display: block;
  text-decoration: none;
}
nav ul li img {
  display: block;
  margin: auto;
  width: 30px;
}
.container {
  width: 100%;
}
.container .topPage {
  height: 440px;
  background-color: #2C2E31;
  text-align: center;
}
.container .topPage h1 {
  color: white;
  padding-top: 40px;
  font-size: 48px;
  font-weight: 100;
}
.container .topPage p {
  color: white;
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.container .topPage p a {
  color: #0088AA;
}
.container .topPage a {
  color: grey;
}
.container .topPage a img {
  width: 30px;
  margin-bottom: -10px;
}
.container #target {
  border-radius: 3px;
  margin: auto;
  background-color: white;
  width: 730px;
  height: 500px;
  margin-top: -195px;
}
.container #target .targetTop {
  border-radius: 3px;
  background-color: #F9F9F9;
  width: 100%;
  height: 135px;
  border-bottom: 1px solid #DCDCDC;
  display: flex;
  justify-content: center;
}
.container #target .targetTop img {
  background-color: white;
  width: 155px;
  height: 155px;
  margin-top: 20px;
  margin-bottom: -20px;
  border-radius: 100px;
  border: 1px solid #DCDCDC;
  padding: 4px;
}
.container #target .parag {
  width: 100%;
  margin-top: 90px;
}
.container #target .parag .label {
  color: #999999;
  font-size: 1.3rem;
  text-align: center;
}
.container #target .parag .data {
  font-size: 3rem;
  text-align: center;
}
.container #target .dataNav {
  margin-top: 18px;
}
.container #target ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 15%;
}
.container #target ul li {
  list-style: none;
  width: 50px;
  height: 50px;
  margin: auto;
  cursor: pointer;
  background-image: url("../img/card_icons.png");
  background-size: 400px;
}
.container #target ul .transition {
  transition: 0.1s all ease;
}
.container #target ul .transitionHover {
  background-position-y: -103px;
}
.container #target ul #name {
  background-position: 4px -53px;
  transition: 0.1s all ease;
}
.container #target ul #name:hover {
  background-position-y: -103px;
}
.container #target ul #email {
  background-position: -68px -53px;
  transition: 0.1s all ease;
}
.container #target ul #email:hover {
  background-position-y: -103px;
}
.container #target ul #birthday {
  background-position: -139px -53px;
  transition: 0.1s all ease;
}
.container #target ul #birthday:hover {
  background-position-y: -103px;
}
.container #target ul #address {
  background-position: -211px -53px;
  transition: 0.1s all ease;
}
.container #target ul #address:hover {
  background-position-y: -103px;
}
.container #target ul #phone {
  background-position: -284px -53px;
  transition: 0.1s all ease;
}
.container #target ul #phone:hover {
  background-position-y: -103px;
}
.container #target ul #password {
  background-position: -354px -53px;
  transition: 0.1s all ease;
}
.container #target ul #password:hover {
  background-position-y: -103px;
}
