* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9F9F9;
}

nav {
    height: 60px;
    background-color: #222222;
    display: flex;
    justify-content: center;

    ul {
        display: flex;

        li {
            margin-right: 20px;
            list-style: none;
            justify-content: center;

            a {
                color: white;
                display: block;
                text-decoration: none;
            }

            img {
                display: block;
                margin: auto;
                width: 30px;
            }
        }
    }
}

.container {
    width: 100%;

    .topPage {
        height: 440px;
        background-color: #2C2E31;
        text-align: center;

        h1 {
            color: white;
            padding-top: 40px;
            font-size: 48px;
            font-weight: 100;
        }

        p {
            color: white;
            font-size: 18px;
            margin-top: 18px;
            margin-bottom: 18px;

            a {
                color: #0088AA;
            }
        }

        a {
            color: grey;

            img {
                width: 30px;
                margin-bottom: -10px;
            }
        }
    }

    #target {
        border-radius: 3px;
        margin: auto;
        background-color: white;
        width: 730px;
        height: 500px;
        margin-top: -195px;

        .targetTop {
            border-radius: 3px;
            background-color: #F9F9F9;
            width: 100%;
            height: 135px;
            border-bottom: 1px solid #DCDCDC;
            display: flex;
            justify-content: center;

            img {
                background-color: white;
                width: 155px;
                height: 155px;
                margin-top: 20px;
                margin-bottom: -20px;
                border-radius: 100px;
                border: 1px solid #DCDCDC;
                padding: 4px;
            }
        }

        .parag {
            width: 100%;
            margin-top: 90px;

            .label {
                color: #999999;
                font-size: 1.3rem;
                text-align: center;
            }

            .data {
                font-size: 3rem;
                text-align: center;
            }
        }

        .dataNav {
            margin-top: 18px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            padding-left: 15%;
            padding-right: 15%;

            li {
                list-style: none;
                width: 50px;
                height: 50px;
                margin: auto;
                cursor: pointer;
                background-image: url("../img/card_icons.png");
                background-size: 400px;
            }
            .transition{
                transition: 0.1s all ease;
            }
            .transitionHover{                
                background-position-y: -103px;
            }
            #name{                
                background-position: 4px -53px;
                .transition;
            }
            #name:hover{
                .transitionHover;
            }
            #email{
                background-position: -68px -53px;
                .transition;
            }
            #email:hover{
                .transitionHover;
            }
            #birthday{
                background-position: -139px -53px; 
                .transition;               
            }
            #birthday:hover{
                .transitionHover;
            }
            #address{
                background-position: -211px -53px;
                .transition;                                
            }
            #address:hover{
                .transitionHover;
            }
            #phone{
                background-position: -284px -53px; 
                .transition;                               
            }
            #phone:hover{
                .transitionHover;
            }
            #password{
                background-position: -354px -53px; 
                .transition;                               
            }
            #password:hover{
                .transitionHover;
            }
        }
    }
}